<?xml version="1.0" standalone="yes"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>

  </configSections>

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net"
                 xmlns:db="http://www.springframework.net/database"
                 xmlns:tx="http://www.springframework.net/tx">

      <db:provider id="DbProvider"
                      provider="SqlServer-2.0"
                      connectionString="Data Source=localhost;Initial Catalog=a1019215504;Persist Security Info=True;User ID=a1019215504;Password=Passwd88;Pooling=true;Max Pool Size=30"/>

      <db:provider id="MirrorDbProvider"
                            provider="SqlServer-2.0"
                            connectionString="Data Source=yujiedu.136.china123.net;Initial Catalog=a1019215504;Persist Security Info=True;User ID=a1019215504;Password=Passwd88;Pooling=true;Max Pool Size=10"/>




      <object id="adoTemplate" type="Spring.Data.Core.AdoTemplate, Spring.Data">
        <property name="DbProvider" ref="DbProvider"/>
        <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader, Spring.Data"/>
      </object>

      <object id="mirrorAdoTemplate" type="Spring.Data.Core.AdoTemplate, Spring.Data">
        <property name="DbProvider" ref="MirrorDbProvider"/>
        <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader, Spring.Data"/>
      </object>


      <!--事务管理器-->
      <object id="transactionManager"
             type="Spring.Data.Core.AdoPlatformTransactionManager, Spring.Data">
        <property name="DbProvider" ref="DbProvider"/>
      </object>

      <!--事务切面-->
      <tx:attribute-driven/>

      <!--Dao-->
      <object id="classDao" type="com.hujun64.Dao.MainClassDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="commonDao" type="com.hujun64.Dao.CommonDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="articleDao" type="com.hujun64.Dao.ArticleDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="guestbookDao" type="com.hujun64.Dao.GuestbookDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="adminDao" type="com.hujun64.Dao.AdminDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="linkDao" type="com.hujun64.Dao.LinkDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="ipDao" type="com.hujun64.Dao.IpInfoDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="clientDao" type="com.hujun64.Dao.ClientDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="visitDao" type="com.hujun64.Dao.VisitedHistoryDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>

      <object id="backupDao" type="com.hujun64.Dao.BackupDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="adoTemplate"/>
      </object>


      <!--镜像DAO-->
      <object id="mirrorCommonDao" type="com.hujun64.Dao.CommonDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="mirrorAdoTemplate"/>
      </object>

      <object id="mirrorArticleDao" type="com.hujun64.Dao.ArticleDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="mirrorAdoTemplate"/>
      </object>

      <object id="mirrorGuestbookDao" type="com.hujun64.Dao.GuestbookDao,SharedWebClassLibrary">
        <property name="AdoTemplate" ref="mirrorAdoTemplate"/>
      </object>



      <!--Service-->
      <object id="commonService" type="com.hujun64.logic.CommonService, SharedWebClassLibrary" singleton="true">
        <property name="commonDao" ref="commonDao"/>
      </object>

      <object id="articleService" type="com.hujun64.logic.ArticleService, SharedWebClassLibrary" singleton="true">
        <constructor-arg index="0" ref="articleDao"/>
        <constructor-arg index="1" ref="commonDao"/>
        <constructor-arg index="2" ref="backupDao"/>
      </object>

      <object id="guestbookService" type="com.hujun64.logic.GuestbookService, SharedWebClassLibrary" singleton="true">
        <constructor-arg index="0" ref="guestbookDao"/>
        <constructor-arg index="1" ref="commonDao"/>
        <constructor-arg index="2" ref="backupDao"/>
      </object>

      <object id="classService" type="com.hujun64.logic.MainClassService, SharedWebClassLibrary" singleton="true">
        <constructor-arg index="0" ref="classDao"/>
        <constructor-arg index="1" ref="articleDao"/>
        <constructor-arg index="2" ref="commonDao"/>
      </object>


      <object id="linkService" type="com.hujun64.logic.LinkService, SharedWebClassLibrary" singleton="true">
        <constructor-arg index="0" ref="linkDao"/>
        <constructor-arg index="1" ref="commonDao"/>
      </object>


      <object id="adminService" type="com.hujun64.logic.AdminService, SharedWebClassLibrary" singleton="true">
        <property name="adminDao" ref="adminDao"/>
      </object>

      <object id="clientService" type="com.hujun64.logic.ClientService, SharedWebClassLibrary" singleton="true">
        <property name="commonDao" ref="commonDao"/>
        <property name="clientDao" ref="clientDao"/>
        <property name="ipDao" ref="ipDao"/>
        <property name="visitDao" ref="visitDao"/>
      </object>

      <object id="backupService" type="com.hujun64.logic.BackupService, SharedWebClassLibrary" singleton="true">
        <property name="backupDao" ref="backupDao"/>
        <property name="articleDao" ref="articleDao"/>
        <property name="guestbookDao" ref="guestbookDao"/>
        <property name="commonDao" ref="commonDao"/>
        <property name="mirrorArticleDao" ref="mirrorArticleDao"/>
        <property name="mirrorGuestbookDao" ref="mirrorGuestbookDao"/>
        <property name="mirrorCommonDao" ref="mirrorCommonDao"/>
      </object>

    </objects>
  </spring>

  <appSettings>
    <add key="isMirrorSite" value="true"/>
    <add key="isSyncMirror" value="false"/>
	<add key="isFullSiteurl" value="false"/>
    <add key="monitorUrl" value="http://www.hujun64.com"/>
    <add key="sitename" value="上海胡珺律师网"/>
    <add key="siteurl" value="http://mirror.hujun64.com"/>
    <add key="siteip" value="112.65.244.136,61.191.188.48,61.152.169.221"/>
    <add key="sitelogo" value="images/logo.gif"/>
    <add key="enableCGW" value="false"/>
    <add key="author" value="上海胡珺律师"/>
    <add key="mobile" value="136 3654 2941"/>
    <add key="mobile2" value="139 1748 7082"/>
    <add key="tel" value="021-5578 5162"/>
    <add key="qq" value="970152503"/>
    <add key="msn" value="amelia8181@hotmail.com"/>
    <add key="email" value="hujun64@gmail.com"/>
    <add key="fax" value="021-63533482"/>
    <add key="address" value="上海市闸北区恒丰路600号(机电大厦)10楼1041室"/>
    <add key="nearby" value="近上海火车站南广场"/>
    <add key="office" value="上海申企律师事务所"/>
    <add key="sn" value="0920082109669"/>
    <add key="zipcode" value="200070"/>
    <add key="developermail" value="13917487082@139.com"/>
    <add key="ccmail" value="yujiedu@hotmail.com;amelia818@126.com"/>
    <add key="adminmail" value="hujun64@gmail.com"/>
    <add key="mailuser" value="hujun64@gmail.com"/>
    <add key="mailpasswd" value="amelia818"/>
    <add key="smtpServerHost" value="smtp.gmail.com"/>
    <add key="smtpServerPort" value="587"/>
    <add key="smtpServerEnableSSL" value="true"/>
    <add key="copyright" value="Copyright (C) 2008-2010 www.hujun64.com All Rights Reserved 版权所有"/>
    <add key="title" value="上海律师胡珺_离婚财产_房产拆迁_交通事故_医疗事故_工伤赔偿_劳动合同_经济合同_专家律师"/>
    <add key="keywords" value="上海律师|离婚网|遗产继承|婚姻法律师|离婚法律咨询|离婚财产分割|涉外婚姻|离婚协|离婚财产|房产拆迁|交通事故|交通肇事|医疗事故|劳动合同|工伤赔偿|经济合同|人身伤害|法律顾问|法律咨询|公司法务|专家律师"/>
    <add key="description" value="胡珺律师，上海市申企律师事务所专职律师，上海人，毕业于华东政法学院。多年来办理了大量的民商事及刑事案件，专长离婚财产、房产拆迁、交通事故、医疗事故、工伤赔偿、劳动合同、经济合同等民事法律纠纷领域，办案经验丰富，擅于思考和发现法律问题..."/>
    <add key="profile" value="胡珺律师，上海市申企律师事务所专职律师，上海人，毕业于华东政法学院。多年来办理了大量的民商事及刑事案件，尤其在交通事故、房产纠纷、离婚纠纷、劳动工伤及人身伤害赔偿等专业领域积累了非常丰富的办案经验，办案成功率高达90%以上，办理的案子多次上过上海电视台的《案件聚焦》节目，是一名专家级的专业律师。"/>
    <add key="expiresNewArticle" value="7"/>
    <add key="expiresNewGuestbook" value="3"/>
    <add key="expiresLog" value="365"/>
    <add key="timerInterval" value="600000"/>
    <add key="refreshSiteHours" value="0,6,12,18"/>
    <add key="sitemap" value="sitemap.xml"/>

    <add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="~/uploads"/>
    <add key="developServers" value="hujun;shdcd-duyj"/>
    <add key="cn.com.webxml.www.IpAddressSearchWebService" value="http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx"/>
    <add key="originalLawyerSearchUrl" value="http://shlg.lawyer.org.cn/shlawyermanager6/lawyersearch/lawyer_search_shanghai.jsp"/>
    <add key="beianUrl" value="http://www.miibeian.gov.cn"/>
    <add key="beianNumber" value="沪ICP备09011496号"/>
    <add key="cnzzWebsiteId" value="1191752"/>
    <add key="cn.com.webxml.www.MobileCodeWS" value="http://www.webxml.com.cn/WebServices/MobileCodeWS.asmx"/>
    <add key="cn.com.webxml.www.WeatherWS" value="http://www.webxml.com.cn/WebServices/WeatherWS.asmx"/>
    <add key="com.m1860.www.service.service" value="http://211.155.31.104/service.asmx"/>
    <add key="smsUsername" value="hujun64"/>
    <add key="smsPassword" value="Passwd88"/>
    <add key="enableWSProxy" value="false"/>
    <add key="WSProxyHost" value="dcproxy:80"/>
    <add key="WSProxyUserDomain" value="cn"/>
    <add key="WSProxyUserName" value="duyj"/>
    <add key="WSProxyPassword" value="Passwd-09"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.web>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
      <add path="WebResource.axd" verb="GET,HEAD,POST" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="~/error.aspx">
      <error statusCode="404" redirect="~/error.aspx?action=notfound"/>
    </customErrors>
    <pages enableViewStateMac="false">
      <namespaces>
        <add namespace="com.hujun64"/>
        <add namespace="com.hujun64.po"/>
        <add namespace="com.hujun64.type"/>
        <add namespace="com.hujun64.util"/>
      </namespaces>
    </pages>
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization responseHeaderEncoding="gb2312" fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <!--<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:debug;trace">       
			</compiler>
		</compilers>
	</system.codedom>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:release">
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
  </system.webServer>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\rolling.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="1"/>
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="10"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=(local);Initial Catalog=a1019215504;integrated security=false;persist security info=True;uid=a1019215504;pwd=Passwd88;Max Pool Size=100"/>
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
</configuration>